[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
docutils = "~=0.18.1"
wheel = "~=0.37.1"
setuptools = "~=60.6.0"
build = "~=0.7.0"
twine = "~=3.8.0"

[requires]
python_version = "3.10.8"

[packages]
twine = "*"
